.footer{
    position: absolute;
    bottom: 0px;
    width: 400px;
    left: 12%;
    z-index: 9;
    &__img{
        width: 20px;
    }
}


/******************************************************************************
**  responsive
*********************************************************************************
*/
@media (min-width: 1920px) {

}

@include media-breakpoint-down(md) {

}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-down(sm){

}
